.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #1e3a5f; /* Dark blue */
  width: 100%;
  padding: 1em;
  color: #f0f8ff; /* Light blue/white */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}